@model IEnumerable<AppVentaSuper.detalle_compra>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.compra.tipo_comprobante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.producto.codigo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.compra.tipo_comprobante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.producto.codigo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.iddetalle_compra }) |
            @Html.ActionLink("Details", "Details", new { id=item.iddetalle_compra }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.iddetalle_compra })
        </td>
    </tr>
}

</table>
