@model AppVentaSuper.compra

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>compra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipo_comprobante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_comprobante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serie_comprobante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serie_comprobante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.num_comprobante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_comprobante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.impuesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.impuesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proveedor.tipo_proveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proveedor.tipo_proveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idcompra }) |
    @Html.ActionLink("Back to List", "Index")
</p>
